<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!-- <link rel="stylesheet" href="contact.css" /> --}}
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <title>Contact</title>
  <style>
    .image {
      background-image: url("https://media.cntraveler.com/photos/59b0516742887612db6c31e6/16:9/w_2560%2Cc_limit/Beach-FourSeasonsResortMaldivesatKudaHuraa-Maldives-CRHotel.jpg");
      height: 98vh;
      width: 1707px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
    }

    .form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    button:hover {
      opacity: 0.6;
      background-color: #0e0c55;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="image"></div>
  </div>
  <div class="form">
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <div align="center">
            <h1 style="
                  background: white;
                  color: black;
                  text-align: center;
                  margin: 10px;
                  padding: 5px;
                  width: 200px;
                  text-align: center;
                ">
              Contact Us
            </h1>
          </div>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
        </div>
        <div class="lg:w-2/3 md:w-2/3 mx-auto">
          <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="name" class="leading-7 text-sm text-white" style="font-size: medium">Name</label>
                <input type="text" id="name" name="name" class="
                      w-full
                      bg-gray-100 bg-opacity-50
                      rounded
                      border border-gray-300
                      focus:border-indigo-500
                      focus:bg-white
                      focus:ring-2
                      focus:ring-indigo-200
                      text-base
                      outline-none
                      text-gray-700
                      py-1
                      px-3
                      leading-8
                      transition-colors
                      duration-200
                      ease-in-out
                    " />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="email" class="leading-7 text-sm text-white" style="font-size: medium">Email</label>
                <input type="email" id="email" name="email" class="
                      w-full
                      bg-gray-100 bg-opacity-50
                      rounded
                      border border-gray-300
                      focus:border-indigo-500
                      focus:bg-white
                      focus:ring-2
                      focus:ring-indigo-200
                      text-base
                      outline-none
                      text-gray-700
                      py-1
                      px-3
                      leading-8
                      transition-colors
                      duration-200
                      ease-in-out
                    " />
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <label for="message" class="leading-7 text-sm text-white" style="font-size: medium">Message</label>
                <textarea id="message" name="message" class="
                      w-full
                      bg-gray-100 bg-opacity-50
                      rounded
                      border border-gray-300
                      focus:border-indigo-500
                      focus:bg-white
                      focus:ring-2
                      focus:ring-indigo-200
                      h-32
                      text-base
                      outline-none
                      text-gray-700
                      py-1
                      px-3
                      resize-none
                      leading-6
                      transition-colors
                      duration-200
                      ease-in-out
                    "></textarea>
              </div>
            </div>
            <div class="p-2 w-full">
              <button class="
                    flex
                    mx-auto
                    text-black
                    bg-white
                    border-0
                    py-2
                    px-8
                    focus:outline-none
                    hover:bg-opacity-70 hover:text-white
                    rounded
                    text-lg
                    bg-opacity-100
                  ">
                Submit
              </button>
            </div>
            <div class="
                  p-2
                  w-full
                  pt-8
                  mt-8
                  border-t border-gray-200
                  text-center
                ">
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24"></svg>
                </a>
                <a class="ml-4 text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24"></svg>
                </a>
                <a class="ml-4 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24"></svg>
                </a>
                <a class="ml-4 text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24"></svg>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>